<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/index.css">
</head>
<body>
  <div class="nul">
     <nav>
        <ul>
            <li class="deroulant"><a href="#">Discover &ensp;</a>
            <ul class="sous">
                <li><a href="#">Caracters</a></li>
                <li><a href="#">Ragnarock universe</a></li>
                <li><a href="#">Easy start guide</a></li>
            </ul>
            </li>
            <li class="deroulant"><a href="#">Guide &ensp;</a>
            <ul class="sous">
                <li><a href="#">Best Equipments</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Earn gems</a></li>
                <li><a href="#">Easter eggs</a></li>
            </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
        </nav>

        <div class="card">
            <!--<h1>Welcome!</h1>-->
          </div>

  </div>
  
    <!--<button class="btn">
        Discover
    </button> -->

</body>
</html>
