<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Ragnarock_Login</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Ragnarock vikings !</h1>
		<p>Welcome on the perfect guide for the game !</p>
		</div>
	</div>

		<div class="right">
		<h5>Login</h5>
		<p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p>
		<div class="inputs">
			<input type="text" placeholder="user name">
			<br>
			<input type="password" placeholder="password">
		</div>
			
			<br><br>
			
		<div class="remember-me--forget-password">
	<label>
		<input type="checkbox" class="ui-checkbox">
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>forget password?</p>
		</div>
			
			<br>
			<button class="btn" >
                login
            </button>
	</div>	
</div>
</body>
</html>
